fastapi==0.115.9
uvicorn==0.34.0
pydantic>=2.10

langchain
langgraph
langchain-community
langchain-google-genai
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers
huggingface-hub
tiktoken

python-multipart
python-dotenv

chess==1.10.0